# **MILESTONE 2 - INFERENCE**

Name    : Dewa Dwi Al-matin  
Batch   : FTDS HCK-013

___

# IMPORT LIBRARIES

In [1]:
#data manipulation
import pandas as pd

#loading
import pickle

___

# MODEL LOADING

In [2]:
with open('final_model_xgb.pkl', 'rb') as file:
    xgb = pickle.load(file)

___

# INFERENCE

In [4]:
data_inf = {
    'ID' : 1, 
    'gender' : 'M',
    'age' : 40,
    'height(cm)' : 180,
    'weight(kg)' : 80,
    'waist(cm)' : 90,
    'eyesight(left)' : 1,
    'eyesight(right)' : 1,
    'hearing(left)' : 1,
    'hearing(right)' : 1,
    'systolic' : 125,
    'relaxation' : 80,
    'fasting blood sugar' : 95,
    'Cholesterol' : 200,
    'triglyceride' : 70,
    'HDL' : 50,
    'LDL' : 130,
    'hemoglobin' : 15,
    'Urine protein' : 1,
    'serum creatinine' : 1,
    'AST' : 25,
    'ALT' : 25,
    'Gtp' : 25,
    'oral' : 'Y',
    'dental caries' : 0,
    'tartar' : 'Y'
}
data_inf = pd.DataFrame([data_inf])
data_inf

,ID,gender,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),...,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,oral,dental caries,tartar
0,1,M,40,180,80,90,1,1,1,1,...,130,15,1,1,25,25,25,Y,0,Y

In [5]:
#pipeline
xgb.predict(data_inf)

array([0])